<ul class="m-auto p-3 list-group w-50-auto">
    <h3 class="text-center display-7">List</h3>
    <div *ngIf="currenciesService.isHaveAny">
        <li *ngFor="let currency of currenciesService.currencies"            
            class="list-group-item list-group-item-action d-flex justify-content-between">
            <span>{{currency.symbol}} | {{currency.name}}</span>
            <span>
                <span>Value:{{currency.value}}</span>
                <button class="mx-1 btn btn-sm btn-danger">
                    <i class="bi bi-x-lg" (click)="removeAsQuestion(currency)"></i>
                </button>
            </span>
        </li>
    </div>
    <div *ngIf="currenciesService.isHaveAny === false">
        <p class="text-center p-3">Any of currencies currently is not containing in the system.</p>
    </div>
</ul>
<app-modal [id]="modalId" [afterCloseAction]="createRemoveAction()" [isQuestion]="true">
    Are you sure about deleting '{{this.deletingCurrency.name}}' from the system?
</app-modal>