<ul class="m-auto p-3 list-group w-50-auto">    
    <div *ngIf="currenciesService.isHaveAny">
        <li *ngFor="let currency of currenciesService.currencies"            
            class="list-group-item list-group-item-action d-flex justify-content-between">
            <span>{{currency.symbol}} | {{currency.name}}</span>
            <span>
                <span>Value:{{currency.value}}</span>
            </span>
        </li>
    </div>
    <div *ngIf="currenciesService.isHaveAny === false">
        <p class="text-center p-3">Any of currencies currently is not containing in the system.</p>
    </div>
</ul>